.theme-container .home {
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 110px;
}
.theme-container .home .footer {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
}
.theme-container .home .hero img {
  width: 300px;
  margin-top: 14vh;
}
@media (max-width: 760px) {
  .theme-container .home .hero img {
    width: 120px;
    margin-top: 12vh;
  }
  .theme-container .sidebar .nav-links .nav-item:not(:last-child) {
    display: none;
  }
}